server/src/main/resources/TextProfileINT_GaLAHaD.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:cmd="http://www.clarin.eu/cmd/1"
           xmlns:cue="http://www.clarin.eu/cmd/cues/1"
           xmlns:cmdp="http://www.clarin.eu/cmd/1/profiles/clarin.eu:cr1:p_1733830015142"
           targetNamespace="http://www.clarin.eu/cmd/1/profiles/clarin.eu:cr1:p_1733830015142"
           elementFormDefault="qualified">
    <xs:annotation>
        <xs:appinfo>
            <cmd:Header>
                <cmd:ID>clarin.eu:cr1:p_1733830015142</cmd:ID>
                <cmd:Name>TextProfileINT_GaLAHaD_v4</cmd:Name>
                <cmd:Description>A profile which describes a file processed by the GaLAHaD platform
                    (https://portal.clarin.ivdnt.org/galahad/home)
                </cmd:Description>
                <cmd:Status>development</cmd:Status>
                <cmd:DerivedFrom>clarin.eu:cr1:p_1712653174452</cmd:DerivedFrom>
            </cmd:Header>
        </xs:appinfo>
    </xs:annotation>
    <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://www.w3.org/2001/xml.xsd"/>
    <xs:import namespace="http://www.clarin.eu/cmd/1"
               schemaLocation="https://infra.clarin.eu/CMDI/1.x/xsd/cmd-envelop.xsd"/>
    <xs:simpleType name="simpletype-annotationType-clarin.eu.cr1.c_1712653174453">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Lemmatisation and POS-tagging"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="complextype-annotationType-clarin.eu.cr1.c_1712653174453">
        <xs:simpleContent>
            <xs:extension base="cmdp:simpletype-annotationType-clarin.eu.cr1.c_1712653174453"/>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="simpletype-annotationStyle-clarin.eu.cr1.c_1712653174453">
        <xs:restriction base="xs:string">
            <xs:enumeration value="inline"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="complextype-annotationStyle-clarin.eu.cr1.c_1712653174453">
        <xs:simpleContent>
            <xs:extension base="cmdp:simpletype-annotationStyle-clarin.eu.cr1.c_1712653174453"/>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="simpletype-annotationMode-3-4-clarin.eu.cr1.c_1712653174453">
        <xs:restriction base="xs:string">
            <xs:enumeration value="automatically annotated"/>
            <xs:enumeration value="manually verified"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="complextype-annotationMode-3-4-clarin.eu.cr1.c_1712653174453">
        <xs:simpleContent>
            <xs:extension base="cmdp:simpletype-annotationMode-3-4-clarin.eu.cr1.c_1712653174453"/>
        </xs:simpleContent>
    </xs:complexType>
    <xs:element name="TextProfileINT_GaLAHaD_v4">
        <xs:annotation/>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="corpusName" minOccurs="0" maxOccurs="1" type="xs:string" cue:DisplayPriority="1">
                    <xs:annotation/>
                </xs:element>
                <xs:element name="TextFile_GaLAHaD" minOccurs="1" maxOccurs="1">
                    <xs:annotation/>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="GaLAHaDPersistentIdentifier"
                                        cmd:ConceptLink="http://hdl.handle.net/11459/CCR_C-2573_ae7c2548-8a86-ab6e-7099-e28b7697d1a2"
                                        minOccurs="1" maxOccurs="1" type="xs:string" cue:DisplayPriority="1">
                                <xs:annotation>
                                    <xs:documentation>A persistent identifier for a text. The pid is given by the
                                        GaLAHaD platform.
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="Conversion_GaLAHaD" minOccurs="1" maxOccurs="1">
                                <xs:annotation/>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="conversionDescription" minOccurs="1" maxOccurs="1"
                                                    type="xs:string" cue:DisplayPriority="1">
                                            <xs:annotation>
                                                <xs:documentation>Describes the conversion process</xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="Tool" minOccurs="1" maxOccurs="1">
                                            <xs:annotation/>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="toolName" minOccurs="1" maxOccurs="1"
                                                                type="xs:string" cue:DisplayPriority="1">
                                                        <xs:annotation>
                                                            <xs:documentation>Name of a tool</xs:documentation>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="toolVersion" minOccurs="0" maxOccurs="1"
                                                                type="xs:string">
                                                        <xs:annotation>
                                                            <xs:documentation>Identifier of the version of a tool, e.g.
                                                                a date, a version number,...
                                                            </xs:documentation>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="toolURL" minOccurs="0" maxOccurs="unbounded"
                                                                type="xs:string">
                                                        <xs:annotation>
                                                            <xs:documentation>Locates a tool by means of a URL
                                                            </xs:documentation>
                                                        </xs:annotation>
                                                    </xs:element>
                                                </xs:sequence>
                                                <xs:attribute ref="xml:base"/>
                                                <xs:attribute ref="cmd:ref"/>
                                                <xs:attribute ref="cmd:ComponentId"
                                                              fixed="clarin.eu:cr1:c_1708423613597"/>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="Organisation" minOccurs="1" maxOccurs="1">
                                            <xs:annotation/>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="organisationName"
                                                                cmd:ConceptLink="http://hdl.handle.net/11459/CCR_C-6243_bd27ac08-ec04-0db2-d95c-52f2a6b1e59d"
                                                                minOccurs="1" maxOccurs="1" type="xs:string"
                                                                cue:DisplayPriority="1">
                                                        <xs:annotation/>
                                                    </xs:element>
                                                    <xs:element name="organisationURL" minOccurs="0" maxOccurs="1"
                                                                type="xs:string">
                                                        <xs:annotation>
                                                            <xs:documentation>Locates the website of an organisation by
                                                                means of a URL
                                                            </xs:documentation>
                                                        </xs:annotation>
                                                    </xs:element>
                                                </xs:sequence>
                                                <xs:attribute ref="xml:base"/>
                                                <xs:attribute ref="cmd:ref"/>
                                                <xs:attribute ref="cmd:ComponentId"
                                                              fixed="clarin.eu:cr1:c_1712653174406"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute ref="xml:base"/>
                                    <xs:attribute ref="cmd:ref"/>
                                    <xs:attribute ref="cmd:ComponentId" fixed="clarin.eu:cr1:c_1712653174444"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute ref="xml:base"/>
                        <xs:attribute ref="cmd:ref"/>
                        <xs:attribute ref="cmd:ComponentId" fixed="clarin.eu:cr1:c_1712653174437"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Source_GaLAHaD" minOccurs="1" maxOccurs="1">
                    <xs:annotation/>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="sourceID" minOccurs="0" maxOccurs="1" type="xs:string"
                                        cue:DisplayPriority="1">
                                <xs:annotation>
                                    <xs:documentation>The ID of the original text</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="sourceCollection" minOccurs="0" maxOccurs="1" type="xs:string">
                                <xs:annotation>
                                    <xs:documentation>Name of the collection where the text originates from
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="sourceCollectionURI" minOccurs="0" maxOccurs="1" type="xs:string">
                                <xs:annotation>
                                    <xs:documentation>The online location of the source collection</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="Date_Period" minOccurs="0" maxOccurs="1">
                                <xs:annotation/>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="yearFrom" minOccurs="0" maxOccurs="1" type="xs:gYear"
                                                    cue:DisplayPriority="1">
                                            <xs:annotation>
                                                <xs:documentation>Start year of a range of years</xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="yearTo" minOccurs="0" maxOccurs="1" type="xs:gYear">
                                            <xs:annotation>
                                                <xs:documentation>End year of a range of years</xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="monthFrom" minOccurs="0" maxOccurs="1" type="xs:gMonth">
                                            <xs:annotation>
                                                <xs:documentation>Start month of a range of months</xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="monthTo" minOccurs="0" maxOccurs="1" type="xs:gMonth">
                                            <xs:annotation>
                                                <xs:documentation>End month of a range of months</xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="dayFrom" minOccurs="0" maxOccurs="1" type="xs:gDay">
                                            <xs:annotation>
                                                <xs:documentation>Start day of a range of days</xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="dayTo" minOccurs="0" maxOccurs="1" type="xs:gDay">
                                            <xs:annotation>
                                                <xs:documentation>End day of a range of days</xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute ref="xml:base"/>
                                    <xs:attribute ref="cmd:ref"/>
                                    <xs:attribute ref="cmd:ComponentId" fixed="clarin.eu:cr1:c_1527668176057"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute ref="xml:base"/>
                        <xs:attribute ref="cmd:ref"/>
                        <xs:attribute ref="cmd:ComponentId" fixed="clarin.eu:cr1:c_1712653174438"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Language_GaLAHaD" minOccurs="1" maxOccurs="1">
                    <xs:annotation/>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="languageName" minOccurs="1" maxOccurs="1" type="xs:string"
                                        cue:DisplayPriority="1">
                                <xs:annotation/>
                            </xs:element>
                            <xs:element name="dominantLanguage" minOccurs="0" maxOccurs="1" type="xs:string">
                                <xs:annotation>
                                    <xs:documentation>Indicates whether the language is the dominant one. The possible
                                        values for this element are "true", "false" and "unspecified".
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute ref="xml:base"/>
                        <xs:attribute ref="cmd:ref"/>
                        <xs:attribute ref="cmd:ComponentId" fixed="clarin.eu:cr1:c_1712653174441"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Annotation_GaLAHaD" minOccurs="1" maxOccurs="1">
                    <xs:annotation/>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="annotationType"
                                        cmd:ConceptLink="http://hdl.handle.net/11459/CCR_C-2462_5b266792-7a54-9296-42e2-2318b9861fe1"
                                        minOccurs="1" maxOccurs="1"
                                        type="cmdp:complextype-annotationType-clarin.eu.cr1.c_1712653174453"
                                        cue:DisplayPriority="1">
                                <xs:annotation>
                                    <xs:documentation>Specifies the type of annotation that was provided
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="annotationStyle"
                                        cmd:ConceptLink="http://hdl.handle.net/11459/CCR_C-2507_94b29b04-98e8-fca3-a0ef-3a44d795b0da"
                                        minOccurs="0" maxOccurs="1"
                                        type="cmdp:complextype-annotationStyle-clarin.eu.cr1.c_1712653174453">
                                <xs:annotation>
                                    <xs:documentation>Specifies whether the annotation is created inline, stand-off or a
                                        combination of both styles.
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="annotationDocumentation" minOccurs="0" maxOccurs="1" type="xs:string">
                                <xs:annotation>
                                    <xs:documentation>Identifies the documentation of an annotation by means of a URI
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="annotationSet"
                                        cmd:ConceptLink="http://hdl.handle.net/11459/CCR_C-2497_6e93b9ce-1be7-248f-ab63-ba0b9c63661f"
                                        minOccurs="0" maxOccurs="1" type="xs:string">
                                <xs:annotation>
                                    <xs:documentation>Identifies the tagset of an annotation. e.g. by means of a URI or
                                        by means of a name
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="Provenance" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation>Provides information about the creation of an annotation
                                    </xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="annotationFormat"
                                                    cmd:ConceptLink="http://hdl.handle.net/11459/CCR_C-2562_872eb94a-47fb-b551-2f64-13ded063259e"
                                                    minOccurs="0" maxOccurs="1" type="xs:string"
                                                    cue:DisplayPriority="1">
                                            <xs:annotation>
                                                <xs:documentation>Specifies the annotation format</xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="annotationDescription" minOccurs="0" maxOccurs="1"
                                                    type="xs:string">
                                            <xs:annotation>
                                                <xs:documentation>Description in general prose of the annotation
                                                    process
                                                </xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="AnnotationProcess" minOccurs="0" maxOccurs="unbounded">
                                            <xs:annotation>
                                                <xs:documentation>Identifies the annotationMode and the person(s),
                                                    organisation(s) and/or tool(s) involved
                                                </xs:documentation>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="annotationMode" minOccurs="0" maxOccurs="1"
                                                                type="cmdp:complextype-annotationMode-3-4-clarin.eu.cr1.c_1712653174453"
                                                                cue:DisplayPriority="1">
                                                        <xs:annotation>
                                                            <xs:documentation>Indicates whether the resource is
                                                                annotated manually, by automatic processes or by a
                                                                combination of both
                                                            </xs:documentation>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="ProcessorsAnnotators" minOccurs="0" maxOccurs="1">
                                                        <xs:annotation>
                                                            <xs:documentation>Groups persons, organisations and/or tools
                                                                involved in the annotation process
                                                            </xs:documentation>
                                                        </xs:annotation>
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="Person_GaLAHaD" minOccurs="0"
                                                                            maxOccurs="unbounded">
                                                                    <xs:annotation/>
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element name="email" minOccurs="0"
                                                                                        maxOccurs="1" type="xs:string"
                                                                                        cue:DisplayPriority="1">
                                                                                <xs:annotation>
                                                                                    <xs:documentation>Specifies the
                                                                                        email address of the user
                                                                                    </xs:documentation>
                                                                                </xs:annotation>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                        <xs:attribute ref="xml:base"/>
                                                                        <xs:attribute ref="cmd:ref"/>
                                                                        <xs:attribute ref="cmd:ComponentId"
                                                                                      fixed="clarin.eu:cr1:c_1712653174451"/>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element name="Organisation" minOccurs="0"
                                                                            maxOccurs="unbounded">
                                                                    <xs:annotation/>
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element name="organisationName"
                                                                                        cmd:ConceptLink="http://hdl.handle.net/11459/CCR_C-6243_bd27ac08-ec04-0db2-d95c-52f2a6b1e59d"
                                                                                        minOccurs="1" maxOccurs="1"
                                                                                        type="xs:string"
                                                                                        cue:DisplayPriority="1">
                                                                                <xs:annotation/>
                                                                            </xs:element>
                                                                            <xs:element name="organisationURL"
                                                                                        minOccurs="0" maxOccurs="1"
                                                                                        type="xs:string">
                                                                                <xs:annotation>
                                                                                    <xs:documentation>Locates the
                                                                                        website of an organisation by
                                                                                        means of a URL
                                                                                    </xs:documentation>
                                                                                </xs:annotation>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                        <xs:attribute ref="xml:base"/>
                                                                        <xs:attribute ref="cmd:ref"/>
                                                                        <xs:attribute ref="cmd:ComponentId"
                                                                                      fixed="clarin.eu:cr1:c_1712653174406"/>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element name="Tool" minOccurs="0"
                                                                            maxOccurs="unbounded">
                                                                    <xs:annotation/>
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element name="toolName" minOccurs="1"
                                                                                        maxOccurs="1" type="xs:string"
                                                                                        cue:DisplayPriority="1">
                                                                                <xs:annotation>
                                                                                    <xs:documentation>Name of a tool
                                                                                    </xs:documentation>
                                                                                </xs:annotation>
                                                                            </xs:element>
                                                                            <xs:element name="toolVersion" minOccurs="0"
                                                                                        maxOccurs="1" type="xs:string">
                                                                                <xs:annotation>
                                                                                    <xs:documentation>Identifier of the
                                                                                        version of a tool, e.g. a date,
                                                                                        a version number,...
                                                                                    </xs:documentation>
                                                                                </xs:annotation>
                                                                            </xs:element>
                                                                            <xs:element name="toolURL" minOccurs="0"
                                                                                        maxOccurs="unbounded"
                                                                                        type="xs:string">
                                                                                <xs:annotation>
                                                                                    <xs:documentation>Locates a tool by
                                                                                        means of a URL
                                                                                    </xs:documentation>
                                                                                </xs:annotation>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                        <xs:attribute ref="xml:base"/>
                                                                        <xs:attribute ref="cmd:ref"/>
                                                                        <xs:attribute ref="cmd:ComponentId"
                                                                                      fixed="clarin.eu:cr1:c_1708423613597"/>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                            <xs:attribute ref="xml:base"/>
                                                            <xs:attribute ref="cmd:ref"/>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="Date_Period" minOccurs="0" maxOccurs="1">
                                                        <xs:annotation/>
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="yearFrom" minOccurs="0" maxOccurs="1"
                                                                            type="xs:gYear" cue:DisplayPriority="1">
                                                                    <xs:annotation>
                                                                        <xs:documentation>Start year of a range of
                                                                            years
                                                                        </xs:documentation>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                                <xs:element name="yearTo" minOccurs="0" maxOccurs="1"
                                                                            type="xs:gYear">
                                                                    <xs:annotation>
                                                                        <xs:documentation>End year of a range of years
                                                                        </xs:documentation>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                                <xs:element name="monthFrom" minOccurs="0" maxOccurs="1"
                                                                            type="xs:gMonth">
                                                                    <xs:annotation>
                                                                        <xs:documentation>Start month of a range of
                                                                            months
                                                                        </xs:documentation>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                                <xs:element name="monthTo" minOccurs="0" maxOccurs="1"
                                                                            type="xs:gMonth">
                                                                    <xs:annotation>
                                                                        <xs:documentation>End month of a range of
                                                                            months
                                                                        </xs:documentation>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                                <xs:element name="dayFrom" minOccurs="0" maxOccurs="1"
                                                                            type="xs:gDay">
                                                                    <xs:annotation>
                                                                        <xs:documentation>Start day of a range of days
                                                                        </xs:documentation>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                                <xs:element name="dayTo" minOccurs="0" maxOccurs="1"
                                                                            type="xs:gDay">
                                                                    <xs:annotation>
                                                                        <xs:documentation>End day of a range of days
                                                                        </xs:documentation>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                            </xs:sequence>
                                                            <xs:attribute ref="xml:base"/>
                                                            <xs:attribute ref="cmd:ref"/>
                                                            <xs:attribute ref="cmd:ComponentId"
                                                                          fixed="clarin.eu:cr1:c_1527668176057"/>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                                <xs:attribute ref="xml:base"/>
                                                <xs:attribute ref="cmd:ref"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute ref="xml:base"/>
                                    <xs:attribute ref="cmd:ref"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute ref="xml:base"/>
                        <xs:attribute ref="cmd:ref"/>
                        <xs:attribute ref="cmd:ComponentId" fixed="clarin.eu:cr1:c_1712653174453"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute ref="xml:base"/>
            <xs:attribute ref="cmd:ref"/>
        </xs:complexType>
    </xs:element>
</xs:schema>